* {
    font-family: 'Montserrat', sans-serif;
}

.btn {
	border-radius: 0 !important;
	font-family: 'Montserrat', sans-serif !important;
}


body {
	font-size: 16px !important;
}

.content-part:nth-child(1) {
	padding: 7rem 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: url(https://images.pexels.com/photos/1496373/pexels-photo-1496373.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
	background-size: cover;
	background-position: 0% 70%;
	color: rgba(255, 255, 255, .8);
	overflow: hidden !important;
}

.content-part:nth-child(1)::before,
.content-part:nth-child(1)::after {
	content: '';
	position: absolute;
	height: 50%;
	width: 200%;
	background: #fff;
	transform: rotate(-25deg);
}

.content-part:nth-child(1)::before {
	left: -50%;
	top: -45%;
	border-bottom: 3px solid rgba(0, 0, 0, 1);
}

.content-part:nth-child(1)::after {
	right: -50%;
	bottom: -45%;
	border-top: 3px solid rgba(0, 0, 0, 1);
}

.content-title {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 34px;
	letter-spacing: 5px;
}

.content-assets {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 85%;
}

.content-assets .btn {
	font-size: 22px;
	border-radius: 0;
	box-shadow: none;
	background: transparent;
	transition: .4s ease;
	position: relative;
	color: rgba(0, 123, 255, .6);
	border: 2px solid rgba(0, 123, 255, .6);
	overflow: hidden;
}

.content-assets .btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: -1;
}

.content-assets .btn:hover {
	color: #fff;
}

.content-assets .btn:hover::before {
	background: rgba(0, 123, 255, .6);
}